.projects-submenu {
    width: 10rem;
    position: absolute;
    top: 83px;
    list-style: none;
    text-align: start;
    background: rgba(151, 204, 238, 1.0);
    z-index: 11;
    border-radius: 8px;
    border-top: solid 3px blue;
  }

  
  .projects-submenu li {
  
    cursor: pointer;
  }
  
  
  .projects-submenu.clicked {
    display: none;
  }
  
  .submenu-item {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 16px;
  }

  @media (max-width: 1367px) {

    .projects-submenu{
      top: 20px;
    }

  }
