.homeHeader {

    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding: 5vw;
}


.homeHeader h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.3em;
}


.homeHeader p {
    font-family: 'Inter';
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 0.1em;
}

@media screen and (max-width: 523px){
    
    .homeHeader h1{
        
        font-size: 28px;
        line-height: 38px;
    }

    .homeHeader p{
        font-size: 17px;
    }
}

@media screen and (max-width: 298px){
    
    .homeHeader h1{
        font-size: 18px;
        line-height: 28px;
    }

    .homeHeader p{
        font-size: 10px;
    }
}

