.logo-slider{
    text-align: center;
    padding-bottom: 80px;
    padding-top: 80px;
    background-color: rgb(127, 202, 255);
    h2{
        text-align: center;
        color: black;
        font-size: 3rem;
        text-shadow: 0px 1px 3px rgba(0,0,0,0.6);
    }

    p{
        color:black;
        text-align: center;
        font-size: 1.5rem;
        text-shadow: 0px 1px 3px rgba(0,0,0,0.6);
        margin: 20px;
    }

    a{
        color:black;
        text-align: center;
        font-size: 1.5rem;
        text-shadow: 0px 1px 3px rgba(0,0,0,0.9);
        margin: 20px;
        text-decoration: none;
        display:inline-block;
    }
}

.logo-slide{
    display: inline-block;
    height: 40px;
    width: 200px;
    margin: 20px;
}

.slider-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .slider-content-wrapper {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .slider-content-wrapper.fast {
    -webkit-animation: scroll 20s linear infinite;
    animation: scroll 20s linear infinite;
  }
  
  
  .slider-content-wrapper > div {
    display: inline-block;
  }
  
  @-webkit-keyframes scroll {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    to {
      -webkit-transform: translate3d(-50%, 0, 0);
      -ms-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
    }
  }
  @keyframes scroll {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    to {
      -webkit-transform: translate3d(-50%, 0, 0);
      -ms-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
    }
  }